@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    font-family: 'Source Code Pro';
    color: rgb(241, 239, 236);
    --shadow-color: rgb(30, 32, 38);
    --pink-color: #d64898;
    --dark-pink-color: #9c2781;
    --blue-color: #3460e1;
    --dark-blue-color: #2d3592;
    --purple-color: #9a44a5;
    --dark-purple-color: #69328c;
    --light-gray-color: #767c87;
    --gray-color: #3e434f;
    --dark-gray-color: #2c2f3a;
}

@media only screen and (max-width: 600px) {
    .main {
        margin-bottom: 6rem;
    }

    .title, .tagline {  
        justify-content: center;
    }

    .navbar {
        bottom: 0;
        width: 100vw;
        height: 4rem;
        transition: height 0.3s ease;
    }

    .navbar:hover {
        height: 8rem;
        transition: height 0.3s ease;
    }

    .navbar:hover .nav-btn {
        justify-content: space-evenly;
    }

    .nav-logo {
        display: none;
    }

    .navs {
        align-items: center;
        justify-content: space-evenly;
    }

    .nav-btn {
        flex-direction: column;
        height: 8rem;
    }
    
    .entry-form fieldset {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .entry-form input {
        text-align: center;
    }

}

@media only screen and (min-width: 600px) {
    .main {
        margin-left: 5rem;
    }

    .title, .tagline {
        justify-content: left;
        padding-left: 1rem;
    }

    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;  
        transition: width 0.3s ease;   
    }

    .navbar:hover {
        width: 12rem;
        transition: width 0.3s ease;
    }

    .navbar:hover ~.main {
        margin-left: 12rem;
    }

    .nav-logo {
        display: flex;
    }

    .navs {    
        flex-direction: column;
        align-items: left;
    }

    .nav-btn {
        height: 5rem;
    }
}

body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

body::-webkit-scrollbar-track {
    background-color: #677691;
}

body::-webkit-scrollbar-thumb {
    background-color: #90929e;
}

.navbar {
    position: fixed;
    background-color: var(--dark-gray-color);
    box-shadow: 0.25px 0.25px 10px var(--shadow-color);
}

.navs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.nav-logo {
    justify-content: right;
    align-items: center;
    margin: 0;
    margin-bottom: 1rem;
    background-color: var(--shadow-color);
    font-family: 'Press Start 2P';
    font-size: 1.25rem;
    text-align: center;
    color: var(--purple-color);
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    width: 100%;
}

.nav-logo svg {
    transform: rotate(0deg);
    transition: transform 0.5s;
}

.navbar:hover .nav-logo svg {
    fill: var(--purple-color);
    transform: rotate(-180deg); 
}

.nav-btn {
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro';
    font-size: 0.9rem;
    text-decoration: none;
    text-align: left;
    color: var(--light-gray-color);
}

.nav-items:hover, .nav-btn:hover {
    color: var(--dark-pink-color);
    background-color: var(--shadow-color);
    transition: 0.4s;
}

.nav-btn:hover svg {
    fill: var(--dark-pink-color);
    transition: 0.4s;
}

.nav-text {
    display: none;
    transition: 0.4s;
}

.navbar:hover .nav-text {
    display: block;
    transition: 0.3s;
}

#del-all {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}

.navs svg {
    fill: var(--light-gray-color);
    min-width: 2.5rem;
    max-width: 2.5rem;
    margin: 0 1.25rem;
}

#del-all:hover {
    cursor: pointer;
}

body {
    background-color: var(--gray-color);
    margin: 0;
    padding: 0;
}

.main {
    padding: 0;
    transition: margin-left 0.3s;
}

.header {
    padding: 1.75rem;
    background-image: linear-gradient(150deg, var(--pink-color), var(--dark-pink-color));
    font-family: 'Press Start 2P';
    box-shadow: 0.25px 0.25px 15px var(--shadow-color);
}

.title {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.logo {
    width: 3.5rem;
    height: 3.5rem;
    padding-top: 2px;
    padding-right: 12px;
}

.main-title {
    font-size: 3.5rem;
    letter-spacing: 0.5rem;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    text-shadow: 4px 4px var(--dark-gray-color);
}

.tagline {
    text-align: center;
    display: flex;
    flex-direction: row;
    font-weight: 300;
    font-size: 1rem;
    text-shadow: 2.5px 2.5px var(--dark-gray-color);
}

.entry-form {
    margin: 2rem;
    font-size: 1.25rem;
}

.entry-form fieldset {
    padding: 30px;
    border-radius: 20px;
}

.entry-form input {
    font-family: 'Source Code Pro';
    height: 20px;
    margin: 5px;
    padding: 10px;
    width: 170px;
    border: none;
}

#new-submit-btn {
    font-family: 'Press Start 2P';
    background-image: linear-gradient(170deg, var(--blue-color), var(--dark-blue-color));
    font-size: 1rem; 
    color: rgb(241, 239, 236);
    height: 40px;
    width: 7rem;
    margin: 5px;
    border: none;
    border-radius: 40px;
    box-shadow: 5px 5px var(--shadow-color);
}

#new-submit-btn:hover {
    background-image: linear-gradient(150deg, var(--blue-color), var(--dark-blue-color));
    font-size: 1.1rem; 
    cursor: pointer;
    transition: 0.4s;
}

#entries {
    margin: 2rem;
    font-size: 1rem;
}

.entry-card {
    margin: 1rem;
    margin-bottom: 2rem;
    padding: 1.5rem;
    background-image: linear-gradient(150deg, var(--purple-color), var(--dark-purple-color));
    box-shadow: 6px 6px var(--dark-gray-color);
}

.del-btn, .clr-btn svg {
    fill: var(--shadow-color);
}

.details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
}

.del-btn {
    width: 45px;
    border: none;
    background-color: transparent;
}

.del-btn:hover {
    cursor: pointer;
}

.clr-btn {
    width: 30px;
    margin: 5px;
    border: none;
    background-color: transparent;
}

.clr-btn:hover {
    cursor: pointer;
}

.log {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1.5px solid;
}

.logs p {
    text-wrap: wrap;
    margin: 10px;
    padding: 10px;
}

